@model IEnumerable<AdminTechnicalUnitListVM>

@{
    ViewData["Title"] = ViewLocalizer["TechnicalUnits"];
}
<div class="card card-docs flex-row-fluid mb-2">
    <!--begin::Card Body-->
    <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
        <!--begin::Section-->
        <div class="p-0">
            <!--begin::Heading-->
            <h5 class="anchor fw-bolder mb-5" id="server-side">
                @SharedLocalizer["List", SharedLocalizer["TechnicalUnit"]]
            </h5>
            <!--end::Heading-->
            <!--begin::CRUD-->
            <div class="py-5">
                <!--begin::Wrapper-->
                <div class="d-flex flex-stack flex-wrap mb-5">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1 mb-2 mb-md-0">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="@SharedLocalizer["Search"]" />
                    </div>
                    <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                        <!--begin::Add-->
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTechnicalUnitModal" title="@SharedLocalizer["Create", SharedLocalizer["TechnicalUnit"]]">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->@SharedLocalizer["Create", SharedLocalizer["TechnicalUnit"]]
                        </a>
                        <!--end::Add-->
                    </div>
                </div>
                <!--end::Wrapper-->
                <!--begin::Datatable-->

                <table id="kt_datatable_example_1" class="table table-row-dashed fs-6 gy-5">
                    <thead>
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                            <th class="sorting" tabindex="0" aria-controls="kt_datatable_example_1" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 175.25px;">@Html.DisplayNameFor(x => x.Name)</th>
                            <th class="text-end min-w-100px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 108.25px;">@SharedLocalizer["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-bold">
                        @if (Model.Any())
                        {
                            @foreach (var TechnicalUnit in Model)
                            {
                                <tr>
                                    <td class="categories text-start">
                                        <a>
                                            <span class="post_category">@TechnicalUnit.Name</span>
                                        </a>
                                    </td>
                                    <td class="text-end">
                                        <div class="dropdown">

                                            <button class="btn btn-light btn-active-light-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-extended="false">
                                                @SharedLocalizer["Options"]
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" aria-labelledby="dropdownMenuButton">
                                                <li class="menu-item px-3">
                                                    <a class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#updateTechnicalUnitModal" asp-route-id="@TechnicalUnit.Id" data-city-id="@TechnicalUnit.Id" data-city-name="@TechnicalUnit.Name">@SharedLocalizer["Update"] </a>
                                                </li>
                                                <li class="menu-item px-3">
                                                    <a class="menu-link px-3 deleteAction" data-id="@TechnicalUnit.Id">@SharedLocalizer["Delete"]</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="categories text-center">
                                    @SharedLocalizer["No_Data"]
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                        <div class="dataTables_length" id="kt_datatable_example_1_length">
                            <label>
                                <select name="kt_datatable_example_1" aria-controls="kt_datatable_example_1" class="form-select form-select-sm form-select-solid">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <!--end::Datatable-->
            </div>
            <!--end::CRUD-->
        </div>
        <!--end::Section-->
    </div>
    <!--end::Card Body-->
</div>




<partial name="~/Areas/Admin/Views/TechnicalUnit/CreatePartialView.cshtml" model="new AdminTechnicalUnitCreateVM()"></partial>
<partial name="~/Areas/Admin/Views/TechnicalUnit/Update.cshtml" model="new AdminTechnicalUnitUpdateVM()"></partial>

@section Scripts
{
    <script src="~/newlayouts/src/js/custom/apps/user-management/users/list/createtecnicalunit.js"></script>
    <script src="~/newlayouts/src/js/custom/apps/user-management/users/list/updateTechnicalUnit.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
    <script>
        var localizedTexts = {
            confirmTitle: '@SharedLocalizer["Confirm_Delete_Title"]', // "fullName adlı admini silmek istediğinize emin misiniz?"
            confirmText: '@SharedLocalizer["Confirm_Delete_Text"]', // "Bu işlem geri alınamaz!"
            confirmButtonText: '@SharedLocalizer["Confirm_Button_Text"]', // "Evet, sil!"
            cancelButtonText: '@SharedLocalizer["Cancel_Button_Text"]', // "Hayır, iptal et"
            cancelConfirmation: '@SharedLocalizer["Cancel_Confirmation"]',
            yesCancel: '@SharedLocalizer["Yes_Cancel"]',
            noBack: '@SharedLocalizer["No_Back"]',
            cancelNotCompleted: '@SharedLocalizer["Cancel_Not_Completed"]',
            understood: '@SharedLocalizer["Understood"]'
        };
        var localizer = {
            emptyTable: '@SharedLocalizer["Empty_Data"]',
            info: '@SharedLocalizer["Info"]',
            infoEmpty: '@SharedLocalizer["Info_Empty"]',
            infoFiltered: '@SharedLocalizer["Info_Filtered"]',
            zeroRecords: '@SharedLocalizer["Zero_Records"]',
            lengthMenu: '@SharedLocalizer["Length_Menu"]'
        };

        // Scroll hareket ettirildiğinde option menüsünü kapatır.
        $(document).ready(function () {
            $(window).on('scroll', function () {
                $('.dropdown-menu.show').removeClass('show');
                $('.dropdown-toggle[aria-expanded="true"]').attr('aria-expanded', 'false');
                console.log("Scroll hareketi çalıştı.")
            });

        });


        $(document).ready(function () {
            var dt = $("#kt_datatable_example_1").DataTable({
                pageLength: 25, // Set default page length to 25
                lengthMenu: [10, 25, 50, 100],
                dom:
                    '<"row"<"col-sm-12"tr>>' +
                    '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                language: {
                    emptyTable: localizer.emptyTable,
                    info: localizer.info,
                    infoEmpty: localizer.infoEmpty,
                    infoFiltered: localizer.infoFiltered,
                    zeroRecords: localizer.zeroRecords,
                    lengthMenu: localizer.lengthMenu
                }
            });
            $('select[name="kt_datatable_example_1"]').change(function () {
                dt.page.len($(this).val()).draw();
            });

            $('input[data-kt-docs-table-filter="search"]').on('keyup', function () {
                dt.search($(this).val()).draw();
            });
            function updatePaginationArrows() {
                $('#kt_datatable_example_1_previous a').html('<i class="fa fa-chevron-left"></i>');
                $('#kt_datatable_example_1_next a').html('<i class="fa fa-chevron-right"></i>');
            }
            updatePaginationArrows();
            dt.on('draw.dt', function () {
                updatePaginationArrows();
            });

        });
        document.addEventListener('DOMContentLoaded', function () {
            // Dropdown menu element
            var optionsDropdown = document.getElementById('optionsDropdown');

            // Toggle dropdown on click
            optionsDropdown.addEventListener('click', function (e) {
                e.preventDefault();
                var optionsMenu = new KTMenu(optionsDropdown);
                optionsMenu.toggle();
            });
        });
        $(".deleteAction").click(function () {
            const id = $(this).attr("data-id");
            Swal.fire({
                title: `${localizedTexts.confirmTitle}`,
                text: localizedTexts.confirmText,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: localizedTexts.confirmButtonText,
                cancelButtonText: localizedTexts.cancelButtonText
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("Delete")" + "?id=" + id,
                        success: function (result) {
                            if (result.isSuccess) {
                                setTimeout(() => location.href = "@Url.Action("index")", 1000)
                            }
                        }
                    });
                }
            })
        });
    </script>
}


