@using BAExamApp.MVC
@using Microsoft.Extensions.Localization
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core.Common
@using X.PagedList

@inject IStringLocalizer<SharedModelResource> localizer
@model IPagedList<AdminSubtopicListVM>

@{
    ViewData["Title"] = SharedLocalizer["List", SharedLocalizer["Subtopic"]];
    var currentPageSize = ViewBag.PageSize ?? 10;
    bool toggleState = ViewBag.ToggleState ?? false;
}




<div class="card card-docs flex-row-fluid mb-2" id="kt_docs_content_card">
    <!--begin::Card Body-->
    <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
        <!--begin::Section-->
        <div class="p-0">
            <!--begin::Heading-->
            <h5 class="card-title">@SharedLocalizer["List", SharedLocalizer["Subtopic"]]</h5>
            <!--end::Heading-->
            <!--begin::CRUD-->
            <div class="py-5">
                <!--begin::Wrapper-->
                <div class="d-flex flex-stack flex-wrap mb-5">

                    <!--begin::Search-->
                    @* <div class="d-flex align-items-center position-relative my-1 mb-2 mb-md-0">

                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" id="searchInput" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="@SharedLocalizer["Search"]" />
                    </div> *@


                    <div class="d-flex align-items-center position-relative my-1">
                        <form asp-controller="Subtopic" asp-action="Index" method="get" class="d-flex align-items-center">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ps-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <div class="form-group ">
                                <input type="text" name="typeOfSubtopic" id="searchInput" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="@SharedLocalizer["Search_Subtopic"]" />
                            </div>
                            <button type="submit" id="searchButton" class="btn btn-primary btn-lg hover-elevate-up ms-3" data-kt-user-table-filter="form">
                                @SharedLocalizer["Show"]
                            </button>
                        </form>
                    </div>




                    <!--end::Search-->
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createSubtopicModal">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->@SharedLocalizer["Create", SharedLocalizer["Subtopic"]]
                        </button>
                        <!--end::Add customer-->
                    </div>

                    <!--end::Toolbar-->
                    <!--begin::Group actions-->
                    <div class="d-flex justify-content-end align-items-center d-none" data-kt-docs-table-toolbar="selected">

                        <div class="fw-bolder me-5">
                            <span class="me-2" data-kt-docs-table-select="selected_count"></span>Selected
                        </div>
                        <button type="button" class="btn btn-danger" data-kt-docs-table-select="delete_selected">Selection Action</button>
                    </div>
                    <!--end::Group actions-->
                </div>
                <!--end::Wrapper-->

                <div id="kt_datatable_example_1_wrapper" class="dataTables_wrapper dt-bootstrap-4 no-footer">
                    <div class="table-responsive">
                        <!--begin::Datatable-->
                        <table id="kt_datatable_example_1" class="table table-row-dashed fs-6 gy-5">
                            <thead>
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">

                                    <th>@Html.DisplayNameFor(x => x[0].Name)</th>
                                    <th>@Html.DisplayNameFor(x => x[0].Status)</th>
                                    <th>@Html.DisplayNameFor(x => x[0].SubjectName)</th>
                                    <th class="text-end min-w-100px">@SharedLocalizer["Subtopic_Operations"]</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-semibold">
                                @if (Model != null && Model.Count > 0)
                                {
                                    @foreach (var subtopic in Model)
                                    {
                                        <tr>

                                            <td>@subtopic.Name</td>
                                            <td>
                                                <span class="badge @(subtopic.Status == Status.Active ? "badge-light-success" : "badge-light-warning")">
                                                    @if (subtopic.Status == Status.Active)
                                                    {
                                                        <text>@SharedLocalizer["Active"]</text>
                                                    }
                                                    else
                                                    {
                                                        <text>@SharedLocalizer["Passive"]</text>
                                                    }
                                                </span>
                                            </td>
                                            <td>@subtopic.SubjectName</td>

                                            <td class="text-end">
                                                <div class="dropdown">

                                                    <button class="btn btn-light btn-active-light-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-extended="false">
                                                        @SharedLocalizer["Options"]
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" aria-labelledby="dropdownMenuButton">
                                                        <li class="menu-item px-3">
                                                            <a asp-action="Details" asp-route-id="@subtopic.Id" class="menu-link px-3" data-kt-docs-table-filter="edit_row">
                                                                @SharedLocalizer["Details"]
                                                            </a>
                                                        </li>
                                                        <li class="menu-item px-3">
                                                            <a id="kt-update-subtopic" onclick="loadSubtopicData('@subtopic.Id')" class="menu-link px-3" data-kt-docs-table-filter="edit_row" data-subtopic-id="@subtopic.Id" data-bs-toggle="modal" data-bs-target="#kt_modal_update_subtopic">
                                                                @SharedLocalizer["Update"]
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>

                                        </tr>
                                    }}
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">@SharedLocalizer["No_Results_Found"]</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    @if (ViewBag.ShowAllData == true)
                    {
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="showInactiveCheckbox" onchange="toggleData(this.checked)" checked>
                            <label class="form-check-label" for="showInactiveCheckbox">
                                @SharedLocalizer["Hide_Inactive_Subtopic"]
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="showInactiveCheckbox" onchange="toggleData(this.checked)">
                            <label class="form-check-label" for="showInactiveCheckbox">
                                @SharedLocalizer["Include_Inactive_Subtopic"]
                            </label>

                        </div>
                    }
                </div>

                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                        <div class="dataTables_length" id="kt_datatable_example_1_length">
                            <label>
                                <select id="pageSizeDropdown" name="kt_datatable_example_1_length" aria-controls="kt_datatable_example_1" class="form-select form-select-sm form-select-solid">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>


                        @*  <div class="dataTables_info" id="kt_table_users_info" role="status" aria-live="polite">Toplam 1 kayıttan 1 ile 1 arasındaki kayıtlar gösteriliyor (toplam 15 kayıt içerisinden filtrelenmiştir)
                        </div> *@
                        <div class="col-5">
                            <span class="text" style="white-space:nowrap">
                                @SharedLocalizer["Total"] @Model.TotalItemCount @SharedLocalizer["From"] @(Model.PageNumber * Model.PageSize - (Model.PageSize - 1))
                                @SharedLocalizer["To"] @(Model.PageNumber * Model.PageSize > Model.TotalItemCount ? Model.TotalItemCount : Model.PageNumber * Model.PageSize)
                                @SharedLocalizer["Records_Are_Being_Displayed"]
                            </span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end mt-3">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, typeOfSubtopic = ViewBag.TypeOfSubtopic, showAllData = ViewBag.ShowAllData, pageSize = ViewBag.PageSize }), new PagedListRenderOptions
                   {
                       Display = PagedListDisplayMode.Always,
                       UlElementClasses = new[] { "pagination", "justify-content-center" },
                       LiElementClasses = new[] { "page-item" },
                       PageClasses = new[] { "page-link" },
                       LinkToFirstPageFormat = @localizer["First"],
                       LinkToLastPageFormat = @localizer["Last"],
                       ContainerDivClasses = new[] { "d-flex", "justify-content-center" }
                   })
                    </div>
                </div>


            </div>

        </div>
        <!--end::CRUD-->
    </div>

</div>
<partial name="~/Areas/Admin/Views/Subtopic/CreatePartialView.cshtml" model="new AdminSubtopicCreateVm()"></partial>
<partial name="~/Areas/Admin/Views/Subtopic/Update.cshtml" model="new AdminSubtopicUpdateVM()"></partial>
@section Scripts {
    <script src="~/newlayouts/src/js/custom/apps/user-management/users/list/createSubtopic.js"></script>
    <script src="~/newlayouts/src/js/custom/apps/user-management/users/view/edit-Subtopic.js"></script>
    <script src="~/newlayouts/dist/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/js/searchboxkeyboardevent.js"></script>

    <script>
        var localizedTexts = {
            unsavedChangesTitle: '@SharedLocalizer["Unsaved_Changes_Title"]',
            unsavedChangesText: '@SharedLocalizer["Unsaved_Changes_Text"]',
            confirmButtonText: '@SharedLocalizer["Yes_Leave"]',
            cancelButtonText: '@SharedLocalizer["No_Stay"]',
            formSubmittedText: '@SharedLocalizer["Form_Submitted_Text"]',
            okButtonText: '@SharedLocalizer["Ok_Button_Text"]'
        };
        var localizer = {
            emptyTable: '@SharedLocalizer["Empty_Data"]',
            info: '@SharedLocalizer["Info"]',
            infoEmpty: '@SharedLocalizer["Info_Empty"]',
            infoFiltered: '@SharedLocalizer["Info_Filtered"]',
            zeroRecords: '@SharedLocalizer["Zero_Records"]'
        };

        // Scroll hareket ettirildiğinde option menüsünü kapatır.
        $(document).ready(function () {
            $(window).on('scroll', function () {
                $('.dropdown-menu.show').removeClass('show');
                $('.dropdown-toggle[aria-expanded="true"]').attr('aria-expanded', 'false');
                console.log("Scroll hareketi çalıştı.")
            });

        });


        // $(document).ready(function () {
        //     var dt = $("#kt_datatable_example_1").DataTable({
        //         pageLength: 25, // Set default page length to 25
        //         lengthMenu: [10, 25, 50, 100],
        //         dom:
        //             '<"row"<"col-sm-12"t>>' +
        //             '<"row"<"col-sm-12 col-md-1"l><"col-sm-12 col-md-5"i><"col-sm-12 col-md-6"p>>',
        //         language: {
        //             emptyTable: localizer.emptyTable,
        //             info: localizer.info,
        //             infoEmpty: localizer.infoEmpty,
        //             infoFiltered: localizer.infoFiltered,
        //             zeroRecords: localizer.zeroRecords
        //         },

        //         search: {
        //             caseInsensitive: true,
        //             smart: false
        //         }
        //     });

            // $('body').on('change', 'select[name="kt_datatable_example_1_length"]', function () {
            //     dt.page.len($(this).val()).draw();
            //     $(this).css({
            //         'border': '0 solid transparent',
            //         'transition': 'color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out'
            //     });
            // });

            // $('body').on('keyup', 'input[data-kt-docs-table-filter="search"]', function () {
            //     dt.search($(this).val()).draw();
            // });



            // function updatePaginationArrows() {

            //     var prevButton = $('#kt_datatable_example_1_previous a');
            //     prevButton.html('<i class="fa fa-chevron-left"></i>');

            //     var nextButton = $('#kt_datatable_example_1_next a');
            //     nextButton.html('<i class="fa fa-chevron-right"></i>');

            //     var pageButtons = $('#kt_datatable_example_1_paginate .page-item');

            //     var activePage = $('#kt_datatable_example_1_paginate .page-item.active a');
            //     activePage.css({
            //         'color': '#ffffff'
            //     });

            //     pageButtons.not('.active').hover(
            //         function () {
            //             $(this).find('a').css({
            //                 'color': '#your_desired_color'
            //             });
            //         },
            //         function () {
            //             $(this).find('a').css({
            //                 'color': ''
            //             });
            //         }
            //     );
            // }

            // updatePaginationArrows();

            // dt.on('draw.dt', function () {
            //     updatePaginationArrows();
            // });
        // });



        function changePageSize() {
            var pageSize = document.getElementById('pageSize').value;
            var url = new URL(window.location.href);

            var typeOfSubtopic = url.searchParams.get('typeOfSubtopic') || '';

            url.searchParams.set('pageSize', pageSize);
            url.searchParams.set('page', 1);

            if (typeOfSubtopic) {
                url.searchParams.set('typeOfSubtopic', typeOfSubtopic);
            }

            window.location.href = url.toString();
        }

        $(document).ready(function () {
            $('#pageSizeDropdown').change(function () {
                var selectedPageSize = $(this).val();
                var url = new URL(window.location.href);


                var typeOfSubtopic = url.searchParams.get('typeOfSubtopic') || '';


                url.searchParams.set('pageSize', selectedPageSize);
                url.searchParams.set('page', 1);

                if (typeOfSubtopic) {
                    url.searchParams.set('typeOfSubtopic', typeOfSubtopic);
                }
                window.location.href = url.toString();
            });
        });



        $(document).ready(function () {

            var currentPageSize = '@ViewBag.PageSize' || '10';
            var showAllData = '@ViewBag.ShowAllData' === 'True';
            var typeOfSubtopic = '@ViewBag.TypeOfSubtopic';

            $('#pageSizeDropdown').val(currentPageSize);

            $('#showInactiveCheckbox').prop('checked', showAllData);


            $('#pageSizeDropdown').change(function () {
                updateUrl();
            });

            $('#showInactiveCheckbox').change(function () {
                updateUrl();
            });

            function updateUrl() {
                var selectedPageSize = $('#pageSizeDropdown').val();
                var isChecked = $('#showInactiveCheckbox').is(':checked');
                var currentPage = '@ViewBag.CurrentPage' || 1;
                var typeOfSubtopic = '@ViewBag.TypeOfSubtopic';


                var url = '@Url.Action("Index", "Subtopic")' + `?page=${1}&pageSize=${selectedPageSize}&showAllData=${isChecked}&typeOfSubtopic=${typeOfSubtopic}`;
                window.location.href = url;
            }
        });




    </script>

    @* <script>
        function toggleData(checked) {
            if (checked) {
                window.location.href = "@Url.Action("Index", new { showAllData = true })";
            } else {
                window.location.href = "@Url.Action("Index")";
            }
        }
    </script> *@

}

