@model AdminTrainerDetailsVM

@{
    ViewData["Title"] = ViewLocalizer["Trainer_Details"];
}

<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
    <!--begin::Card header-->
    <div class="card-header cursor-pointer">
        <!--begin::Card title-->
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">@ViewLocalizer["Trainer_Details"]</h3>
        </div>
        <!--end::Card title-->
        <!--begin::Action-->
        <div class="align-self-center">
            <a asp-controller="Trainer" asp-action="Index" class="btn btn-secondary align-self-center">@SharedLocalizer["Back_List"]</a>
            <a id="kt-update-trainer" onclick="loadTrainerData('@Model.Id')" class="btn btn-primary align-self-center" data-kt-docs-table-filter="edit_row" data-trainer-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#kt_modal_update_user">
                @SharedLocalizer["Update"]
            </a>
            <a class="btn btn-danger align-self-center ms-2"
               onclick="showDeleteModal('@Url.Action("Delete", "Trainer", new { id = Model.Id })', '@Model.FirstName @Model.LastName', '/Admin/Trainer')">
                @SharedLocalizer["Delete"]
            </a>

        </div>
        <!--end::Action-->
    </div>
    <!--begin::Card header-->
    <!--begin::Card body-->
    <div class="card-body p-9">
        <div class="row">
            <div class="col-lg-2 d-flex flex-column align-items-left">
                <!-- Profile Image -->
                <div class="mb-3">
                    @if (Model.NewImage != null && Model.NewImage.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.NewImage)"
                             class="avatar user-1-avatar avatar-150 photo" width="150"
                             height="150" alt="" />
                    }
                    else
                    {
                        <img src="~/media/avatars/blank.png"
                             class="avatar user-1-avatar avatar-150 photo" width="150"
                             height="150" alt="" />
                    }
                </div>
            </div>
            <div class="col-lg-10">
                <!-- Information Rows -->
                <div class="row mb-3">
                    <label class="col-lg-2 fw-bold text-muted">@Html.DisplayNameFor(model => model.FirstName):</label>
                    <div class="col-lg-10">
                        <span class="fw-bolder fs-6 text-gray-800" id="firstName">@Model.FirstName</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-2 fw-bold text-muted">@Html.DisplayNameFor(model => model.LastName):</label>
                    <div class="col-lg-10">
                        <span class="fw-bolder fs-6 text-gray-800" id="lastName">@Model.LastName</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-2 fw-bold text-muted">@Html.DisplayNameFor(model => model.Gender):</label>
                    <div class="col-lg-10">
                        <span class="fw-bolder fs-6 text-gray-800">@(Model.Gender == true ? SharedLocalizer["Man"] : SharedLocalizer["Woman"])</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-lg-2 fw-bold text-muted">@Html.DisplayNameFor(model => model.Email):</label>
                    <div class="col-lg-10">
                        <span class="fw-bolder fs-6 text-gray-800">@Model.Email</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Classrooms Table -->
        <div class="table-responsive scroll h-400px mt-5">
            <table class="table table-flush align-middle table-row-bordered table-row-solid gy-4">
                <thead>
                    <tr class="text-gray-400 fw-bolder fs-6 text-uppercase gs-0">
                        <th class="min-w-150px">@SharedLocalizer["Classroom_Name"]</th>
                        <th class="min-w-150px">@SharedLocalizer["Opening_Date"]</th>
                        <th class="min-w-150px">@SharedLocalizer["Closed_Date"]</th>
                        <th class="min-w-150px">@SharedLocalizer["Student_Count"]</th>
                    </tr>
                </thead>
                <tbody class="fw-bolder text-gray-600">
                    @foreach (var classroom in Model.TrainerClassrooms)
                    {
                        <tr>
                            <td>@classroom.ClassroomName</td>
                            <td>@classroom.OpeningDate.ToShortDateString()</td>
                            <td>@classroom.ClosedDate.ToShortDateString()</td>
                            <td>@classroom.StudentCount</td>
                            <td>
                                <div class="menu-item px-3">
                                    <a class="menu-link px-3" asp-controller="Classroom" asp-action="Details" asp-route-id="@classroom.Id">@SharedLocalizer["Classroom_Details"]</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--end::Card body-->
</div>

<partial name="~/Areas/Admin/Views/Trainer/Update.cshtml" model="new AdminTrainerUpdateVM()" />

@section Scripts
{
    <script src="~/newlayouts/src/js/custom/apps/user-management/users/view/update-trainer.js"></script>
    @* <script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script> *@
    <script>
        const localizedTexts = {
            confirmTitle: '@SharedLocalizer["Confirm_Delete_Title"]',
            confirmText: '@SharedLocalizer["Confirm_Delete_Text"]',
            confirmButtonText2: '@SharedLocalizer["Confirm_Button_Text"]',
            cancelButtonText2: '@SharedLocalizer["Cancel_Button_Text"]',
            unsavedChangesTitle: '@SharedLocalizer["Unsaved_Changes_Title"]',
            unsavedChangesText: '@SharedLocalizer["Unsaved_Changes_Text"]',
            confirmButtonText: '@SharedLocalizer["Yes_Leave"]',
            cancelButtonText: '@SharedLocalizer["No_Stay"]',
            formSubmittedText: '@SharedLocalizer["Form_Submitted_Text"]',
            okButtonText: '@SharedLocalizer["Ok_Button_Text"]'


        };
    </script>
    <script src="~/js/common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>

}

