@model X.PagedList.IPagedList<AdminBranchListVM>
@using Microsoft.Extensions.Localization
@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@inject IStringLocalizer<SharedModelResource> localizer

@{
    ViewData["Title"] = ViewLocalizer["Branches"];
    Layout = "_Layout";
    var currentPageSize = ViewBag.PageSize ?? 10;
}

<link href="~/newLayouts/dist/assets/plugins/custom/datatables/adminBranchSorting.css" rel="stylesheet" />


<div class="card card-docs flex-row-fluid mb-2">
    <!--begin::Card Body-->
    <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
        <!--begin::Section-->
        <div class="p-0">
            <!--begin::Heading-->
            <h1 class="anchor fw-bolder mb-5" style="font-size:1.15rem;" id="server-side">
                @ViewLocalizer["Branch_List"]
            </h1>
            <!--end::Heading-->
            <!--begin::CRUD-->
            <div class="py-5">
                <!--begin::Wrapper-->
                <div class="d-flex flex-stack flex-wrap mb-5">
                    <!--begin::Search-->

                    <div class="d-flex align-items-center position-relative my-1">
                        <form asp-controller="Branch" asp-action="Index" method="get" class="d-flex align-items-center">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ps-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <div class="form-group ">
                                <input type="text" name="typeOfBranch" id="searchInput" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="@SharedLocalizer["Search_Branch"]" />
                            </div>
                            <button type="submit" id="searchButton" class="btn btn-primary btn-lg hover-elevate-up ms-3" data-kt-user-table-filter="form">
                                @SharedLocalizer["Show"]
                            </button>
                        </form>
                    </div>



                    <!--end::Search-->
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-docs-table-toolbar="base">
                        <!--begin::Add branch-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createBranchModal">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->@SharedLocalizer["Create", SharedLocalizer["Branch"]]
                        </button>
                        <!--end::Add branch-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Datatable-->
                <div id="kt_datatable_example_1_wrapper" class="dataTables_wrapper dt-bootstrap-4 no-footer">
                    <div class="table-responsive">
                        <div class="card-body py-4">
                            <table id="kt_datatable_example_1" class="table align-middle table-row-dashed min-h-400px fs-6 gy-5">
                                <thead>
                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="kt_datatable_example_1" rowspan="1" colspan="1" aria-label="Email: activate to sort column descending" style="width: 252.25px;" aria-sort="ascending">@Html.DisplayNameFor(model => model[0].Name)</th>
                                        <th class="text-end min-w-100px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 100.25px;">@ViewLocalizer["Branch_Operations"]</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-600 fw-bold">
                                     @if (Model != null && Model.Count > 0) // Eğer model boş değilse ve içinde en az bir öğe varsa
                                    {
                                    @foreach (var branch in Model)
                                    {
                                        <tr>
                                            <td>@branch.Name</td>
                                            <td class=" text-end">
                                                <div class="dropdown">
                                                    <button class="btn btn-light btn-active-light-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-extended="false">
                                                        @SharedLocalizer["Options"]
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" aria-labelledby="dropdownMenuButton">
                                                        <li class="menu-item px-3">
                                                            <a asp-action="Details" asp-route-id="@branch.Id" class="menu-link px-3" data-kt-docs-table-filter="edit_row">
                                                                @SharedLocalizer["Details"]
                                                            </a>
                                                        </li>

                                                        <li class="menu-item px-3">
                                                            <a data-bs-toggle="modal" data-bs-target="#updateBranchModal" asp-route-id="@branch.Id" data-branch-id="@branch.Id" data-branch-name="@branch.Name" class="menu-link px-3" data-kt-docs-table-filter="delete_row">
                                                                @SharedLocalizer["Update"]
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <div class="d-flex flex-column align-items-center">

                                                    <span class="text-gray-500 fs-6 fw-bold">@SharedLocalizer["No_Data"]</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!---->
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                    <div class="dataTables_length" id="kt_table_users_length">
                                        <label>
                                            <select id="pageSizeDropdown" name="kt_table_users_length" aria-controls="kt_table_users" class="form-select form-select-sm form-select-solid">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label>
                                    </div>

                                    <div class="col-5" style="margin-left:10px">
                                        <span class="text" style="white-space: nowrap;">
                                            @SharedLocalizer["Total"] @Model.TotalItemCount @SharedLocalizer["From"] @(Model.PageNumber * Model.PageSize - (Model.PageSize - 1))
                                            @SharedLocalizer["To"] @(Model.PageNumber * Model.PageSize > Model.TotalItemCount ? Model.TotalItemCount : Model.PageNumber * Model.PageSize)
                                            @SharedLocalizer["Records_Are_Being_Displayed"]
                                        </span>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end mt-3">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, typeOfBranch = ViewBag.TypeOfBranch, pageSize = ViewBag.PageSize }), new PagedListRenderOptions
                               {
                                   Display = PagedListDisplayMode.Always,
                                   UlElementClasses = new[] { "pagination", "justify-content-center" },
                                   LiElementClasses = new[] { "page-item" },
                                   PageClasses = new[] { "page-link" },
                                   LinkToFirstPageFormat = @localizer["First"],
                                   LinkToLastPageFormat = @localizer["Last"],
                                   ContainerDivClasses = new[] { "d-flex", "justify-content-center" }
                               })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end::CRUD-->
    </div>
    <!--end::Section-->
</div>
<!--end::Card Body-->
</div>

<partial name="~/Areas/Admin/Views/Branch/CreatePartialView.cshtml" model="new AdminBranchCreateVM()" />
<partial name="~/Areas/Admin/Views/Branch/UpdatePartialView.cshtml" model="new AdminBranchUpdateVM()" />

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/newlayouts/dist/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/js/updateCreateBranch.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.js"></script>
    <script src="~/js/searchboxkeyboardevent.js"></script>

    <script>
        var localizedTexts = {
            confirmTitle: '@SharedLocalizer["Confirm_Delete_Title"]', // "fullName adlı admini silmek istediğinize emin misiniz?"
            confirmText: '@SharedLocalizer["Confirm_Delete_Text"]', // "Bu işlem geri alınamaz!"
            confirmButtonText: '@SharedLocalizer["Confirm_Button_Text"]', // "Evet, sil!"
            cancelButtonText: '@SharedLocalizer["Cancel_Button_Text"]' // "Hayır, iptal et"
        };
        var localize = {
            unsavedChangesTitle: '@SharedLocalizer["Unsaved_Changes_Title"]',
            unsavedChangesText: '@SharedLocalizer["Unsaved_Changes_Text"]',
            confirmButtonText: '@SharedLocalizer["Yes_Leave"]',
            cancelButtonText: '@SharedLocalizer["No_Stay"]'
        };
        var localizer = {
            emptyTable: '@SharedLocalizer["Empty_Data"]',
            info: '@SharedLocalizer["Info"]',
            infoEmpty: '@SharedLocalizer["Info_Empty"]',
            infoFiltered: '@SharedLocalizer["Info_Filtered"]',
            zeroRecords: '@SharedLocalizer["Zero_Records"]'
        };



        document.addEventListener('DOMContentLoaded', function () {
            var currentPageSize = @currentPageSize;
            document.getElementById('pageSize').value = currentPageSize;
        });

        function changePageSize() {
            var pageSize = document.getElementById('pageSize').value;
            var url = new URL(window.location.href);

            var typeOfBranch = url.searchParams.get('typeOfBranch') || '';

            url.searchParams.set('pageSize', pageSize);
            url.searchParams.set('page', 1);

            if (typeOfBranch) {
                url.searchParams.set('typeOfBranch', typeOfBranch);
            }

            window.location.href = url.toString();
        }

        $(document).ready(function () {
            $('#pageSizeDropdown').change(function () {
                var selectedPageSize = $(this).val();
                var url = new URL(window.location.href);


                var typeOfBranch = url.searchParams.get('typeOfBranch') || '';


                url.searchParams.set('pageSize', selectedPageSize);
                url.searchParams.set('page', 1);

                if (typeOfBranch) {
                    url.searchParams.set('typeOfBranch', typeOfBranch);
                }
                window.location.href = url.toString();
            });
        });

        $(document).ready(function () {

            var currentPageSize = '@ViewBag.PageSize' || '10';

            $('#pageSizeDropdown').val(currentPageSize);

            $('#pageSizeDropdown').change(function () {

                var selectedPageSize = $(this).val();

                var currentPage = '@ViewBag.CurrentPage';


            });

        });


    </script>
}
